"QPushButton {"
  "background-color: rgb(255, 255, 255);"
 " text-align:bottom ;"
  "image-position:top;"
  "color: #666666;"
  "font:bold 30px;"
  "image: url(:new/prefix1/user.png);"
"}"
"QPushButton:hover {"
  "background-color: rgb(175, 226, 235);"
"}"